# Ambiente virtual (venv)
.venv/
venv/
ENV/

# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Configurações e banco de dados do Django
*.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Arquivos de IDE e sistema
.vscode/
.idea/
.DS_Store
Thumbs.db